@import url(http://weloveiconfonts.com/api/?family=brandico);


[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  color: #FA8072;
}

body {
    text-align: center;
    background-color: #333;
}

button {
  border-radius: 5px;
  color: white;
  background-color: pink;
  font-size: 15px;
}

.img-responsive {
  display: inline;
}

.level-up {
  color: #fff; 
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius:5px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
